@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #18181B;
        --color-surface: #FFFFFF;
        --color-accent: #4F46E5;
        --color-border: #E4E4E7;
        --color-muted: #71717A;
        --color-danger: #EF4444;
        --color-warning: #F59E0B;
        --color-success: #10B981;
    }
}